.details {
    display: grid;
    grid-row-gap: 13px;

    &__title {
        padding-bottom: 7px;
        border-bottom: 1px solid #CCC;
        font-size: 14px;
        font-weight: 600;
    }

    &__links {
        font-size: 14px;
        display: grid;
        grid-row-gap: 10px;
        cursor: pointer;
        & > * {
            transition: 0.5s ease-in-out;
            &:hover {
                color: $base-green;
            }
        }
    }
}